<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stock.mapper.InfoResearchReportMapper">

    <select id="selectByStock" resultType="com.stock.entity.InfoResearchReport">
        SELECT * FROM info_research_report
        WHERE stock_code = #{code}
        ORDER BY publish_date DESC
    </select>

    <select id="selectByStockAndDateRange" resultType="com.stock.entity.InfoResearchReport">
        SELECT * FROM info_research_report
        WHERE stock_code = #{code}
          AND publish_date BETWEEN #{startDate} AND #{endDate}
        ORDER BY publish_date DESC
    </select>

    <select id="selectByOrg" resultType="com.stock.entity.InfoResearchReport">
        SELECT * FROM info_research_report
        WHERE org_name LIKE CONCAT('%', #{org}, '%')
        ORDER BY publish_date DESC
        LIMIT #{limit}
    </select>

    <select id="selectAvailableStocks" resultType="java.lang.String">
        SELECT DISTINCT stock_code FROM info_research_report ORDER BY stock_code
    </select>
</mapper>
